.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.not-found{
    color:black;
    background-color:white;
    margin-left:auto;
    margin-right:auto;

}